@{
    ViewData["Title"] = "Sucesso ao Cadastrar Denuncia";
}

<div class="main-home-sucess">
    <div class="main-interno-sucess">
        <p class="titulo-sucess">SUA DENUNCIA FOI REGISTRADA COM SUCESSO!</p>
        <p>O NÚMERO DO PROTOCOLO PARA ACOMPANHAMENTO DA DENUNCIA É 2022/XXXX</p>
        <div class="area-imprimir">
            <P>DESEJA IMPRIMIR FICHA DE DENUNCIA?</P>
            <a href="#" class="btn-opcao-auxiliar-sucess">Imprimir</a>
        </div>
        <p>PARA MAIS INFORMAÇÕES ENTRE EM CONTATO CONOSCO</p>
        <p>TELEFONE: (83) 3218-2325</p>
        <p>E-MAIL: ambiental@gmail.com</p>
    </div>
</div>
