@{
    ViewData["Title"] = "Cadastrar Denuncia";
}

<div class="main-home">
    <div class="area-title">
        <p>Preencha os dados referentes à denuncia:</p>
    </div>
    <form class="area-form-cadastrar-denuncia">
        <div class="textField-cadastrar-denuncia">
            <label class="font-escurinha">Data</label>
            <input type="date" >
        </div>
        <div class="textField-cadastrar-denuncia">
            <label class="font-escurinha">Horário</label>
            <input type="time" >
        </div>
        <div class="textField-cadastrar-denuncia">
            <label class="font-escurinha">CEP</label>
            <div class="div-btn-cep">
                <input id="cep" type="number" >
                <button class="btn-cep" onclick="consultarEndereco()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div id="resultado">
            
        </div>
        <div class="textField-cadastrar-denuncia">
            <label class="font-escurinha">Ponto de Referência</label>
            <input type="text" >
        </div>
        <div class="textField-cadastrar-denuncia-radio">
            <p class="font-escurinha">Tipo de Ocorrência</p>

            <div class="area-radio">
                <div class="cada-radio">
                    <input type="radio" id="poluicaoSonora" name="tipoOcorrencia" value="Poluição sonora" >
                    <label>Poluição sonora</label>
                </div>

                <div class="cada-radio">
                    <input type="radio" id="lancamentoDeEfluentes" name="tipoOcorrencia" value="Lançamento de efluentes/esgoto" >
                    <label>Lançamento de efluentes/esgoto</label>
                </div>

                <div class="cada-radio">
                    <input type="radio" id="podaIrregular" name="tipoOcorrencia" value="Poda irregular das árvores" >
                    <label>Poda irregular das árvores</label>
                </div>

                <div class='cada-radio'>
                    <input type="radio" id="outros" name="tipoOcorrencia" value="Outros" >
                    <label>Outros</label>
                </div>
            </div>
        </div>
        <div class="textField-cadastrar-denuncia-textarea">
            <label class="font-escurinha" for="descrever-denuncia">Descreva a ocorrência</label>
            <textarea id="descrever-denuncia" name="descrever-denuncia" rows="4" cols="50">

            </textarea>
        </div>
        <div class="textField-cadastrar-denuncia-upload">
            <label class="font-escurinha">Anexar foto ou vídeo</label>
            <input type="file">
        </div>
    </form>
    <div class="area-btn-auxiliar-tela-cadastrar-denuncia">
        <a asp-controller="Home" asp-action="Index" class="btn-opcao-auxiliar">Voltar</a>
        <a asp-controller="Sucess" asp-action="Index" class="btn-opcao-auxiliar">Registrar</a>
    </div>
</div>

<script>
    function consultarEndereco() {
        event.preventDefault()
        let cep = document.querySelector('#cep').value;

        if (cep.length !== 8) {
            alert('CEP inválido!');
            return;
        }

        let url = `https://viacep.com.br/ws/${cep}/json/`;

        fetch(url).then(function(response){
            response.json().then(mostrarEndereco);
        });
    }

    function mostrarEndereco(dados) {
        let resultado = document.querySelector('#resultado');
        if (dados.erro) {
            resultado.innerHTML = "Não foi possível encontrar o endereço!";
        } else {
            resultado.innerHTML = `
            <div class="textField-cadastrar-denuncia">
                <label class="font-escurinha">Endereço</label>
                <input type="text" value="${dados.logradouro}, ${dados.bairro}, ${dados.localidade}, ${dados.uf}" >
            </div>
            `
        }
    }
</script>
